body{background:url("../img/bg.jpg");font-family:'Port Lligat Slab',serif}
ul{list-style:none}
.l-date{width:87px;height:36px;line-height:36px;text-align:center;color:#505050;font-size:16px;font-weight:bold;text-shadow:0 1px 0 rgba(255,255,255,0.9);position:relative;z-index:2;}
.l-date span{z-index:3;position:relative}
.l-date img{width:100%;position:absolute;top:0;left:0;z-index:2}
.l-timeline{width:50px;border-left:3px solid #e50026;height:100.9%;position:absolute;z-index:1}
.pics{border:5px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);box-shadow:0 0 5px rgba(0,0,0,0.3);width:93%;position:relative;z-index:2}
.l-pic-shadow{width:93%;position:absolute;bottom:-12%;left:5px}
.l-li{position:relative;margin-bottom:20px}
.l-one-list{margin-left:40px;margin-bottom:50px;}
.l-one-list .time{color:#fff;text-shadow:0 0 4px #333;position:absolute;top:0;left:-52px;z-index:3;}
.l-one-list .time span{float:left;text-align:right;width:37px;font-size:14px}
.l-one-list .time img{width:14px}
.l-one-list .l-mobile-pic{width:93%}
.mobile-timeline{position:relative;}
.mobile-timeline .timeline{top:10px;left:30px}
.mobile-header{padding:20px 0 40px;}
.mobile-header img{width:100%;display:block;max-width:402px;margin:0 auto}
#desktop-view{background:url("../img/timeline.jpg") repeat-y 50% 50%;}
#desktop-view .l-date{margin-left:auto;margin-right:auto;margin-top:-20px}
#desktop-view .l-li{margin-bottom:40px}
.l-two-list{overflow:hidden;padding-bottom:20px;}
.l-two-list ul{width:50%;margin:0 0 30px 0}
.l-two-list .time{color:#fff;text-shadow:0 0 4px #333;z-index:3;font-size:18px;margin-bottom:3px}
.l-two-list .list-left{float:left;margin-top:85px;}
.l-two-list .list-left .li-wrapper{position:relative;right:-6px}
.l-two-list .list-left .time{text-align:right;margin-right:-7px;}
.l-two-list .list-left .time span{text-align:right;width:37px;margin-right:8px}
.l-two-list .list-left .time img{width:14px}
.l-two-list .list-right{float:right;}
.l-two-list .list-right .li-wrapper{position:relative;left:20px}
.l-two-list .list-right .time{width:99px;color:#fff;text-shadow:0 0 4px #333;z-index:3;margin-left:-6px;}
.l-two-list .list-right .time span{float:right;text-align:right;width:78px}
.l-two-list .list-right .time img{width:14px}
.toolbar{background:rgba(0,0,0,0.5);height:30px;width:93%;position:absolute;bottom:5px;left:5px;z-index:5;}
.toolbar .toolbar-wrapper{position:relative;width:100%;height:100%;}
.toolbar .toolbar-wrapper a.download{text-transform:uppercase;text-decoration:underline;color:#fff;position:absolute;bottom:0;left:5px;z-index:5;line-height:25px;}
.toolbar .toolbar-wrapper a.download img{width:25px;margin-right:5px}
.toolbar .toolbar-wrapper .share{background:url("../img/facebook.png") no-repeat 0 0;text-transform:uppercase;text-decoration:underline;color:#fff;padding-left:20px;position:absolute;bottom:5px;right:8px;z-index:5}
